<!--<video width="320" height="240" controls>
  <source src="http://54.93.252.106:8080/api/resources/xylophone" type="video/mp4">
</video>-->
<embed src="http://54.93.252.106:8080/api/resources/Java NIO" width="800" height="800" type='application/pdf'>
<audio controls>
  <source src="http://54.93.252.106:8080/api/resources/alarm" type="audio/mpeg">
  Your browser does not support the audio element.
</audio>
<div class="widgets">
    <div class="col-2">
        <button class="btn btn-success" (click)="launchAddResourceModal()">Add Resource</button>
    </div>
    <br>
    <div class="row">
        <ba-card title="MINDSIGHT RESOURCES" baCardClass="with-scroll" class="smart-table-container">
            <ng2-smart-table [settings]="settings" [source]="source" style="text-align:right"></ng2-smart-table>
        </ba-card>
    </div>
</div>