<div class="modal-content col-md-12" *ngIf="isView">
    <div class="modal-header">
        <h5 class="modal-title col-md-12" id="exampleModalLabel">Image Preview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body col-md-12">
        <img class="col-md-12" [src]="imgSrc">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</div>
<div class="modal-content col-md-12" *ngIf="isDelete">
    <div class="modal-header">
        <h5 class="modal-title col-md-12" id="exampleModalLabel">Image Delete</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body col-md-12">
        <img class="col-md-12" [src]="imgSrc">
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-primary btn-danger" (click)="deleteImage()">Delete</button>
    </div>
</div>