<div class="modal-content col-md-12">
    <div class="modal-header">
        <h5 class="modal-title col-md-12" id="exampleModalLabel">{{modalHeader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body col-md-12">
        <video controls>
        <source src="http://54.93.252.106:8080/api/resources/demo" type="video/mp4">
        </video>
        <!--<form enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group col-md-12">
                <label for="recipient-name">Resource</label><br>
                <input class="col-md-12" type="text" name="text" value="{{newName}}" [(ngModel)]="newName">
            </div>
            <div class="form-group col-md-12">
                <label for="recipient-name">Label</label><br>
                <input class="col-md-12" type="text" name="text" value="{{label}}" disabled>
            </div>
        </form>-->
    </div>
    <div class="modal-footer col-md-12">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
    </div>
</div>