<div class="modal-content col-md-12">
    <div class="modal-header">
        <h5 class="modal-title col-md-12" id="exampleModalLabel">{{modalHeader}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
          <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body col-md-12">
        <form enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group col-md-12">
                <label for="recipient-name" class="form-control-label">Label</label>
                <input class="col-md-12" type="text" name="text" value="{{label}}" disabled>
            </div>
            <div class="form-group">
                <label class="col-md-12" for="message-text">Photo</label><br>
                <input class="col-md-12" multiple id="file-upload2" type="file" title=" " name="photo" accept="image/*" (change)="onLabel($event)" [multiple]="true">
            </div>
        </form>
        <div class="col-md-12" *ngIf="filesList.length > 1">
            <p class="col-md-12" *ngFor="let file of filesList">
                {{file.name}}
                <br></p>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-danger" [disabled]="!(areTherePhotos())" (click)="submitPhotos()">Save</button>
    </div>
</div>