<div id="design-cast" >

    <div class="member" style=" display: inline-block;width: 150px;height: 200px;vertical-align: top;text-align:center;">
        <img src="/static/{{dayType[0]}}.png" class="img-responsive img-thumbnail" alt="Responsive image" style="width: 100%; display: block;" />
        <div class="name" style="display: inline;">Max :{{maxList[0]}}
            <br />Min :{{minList[0]}}</div>
    </div>
    <div class="member" style=" display: inline-block;width: 150px;height: 200px;vertical-align: top;text-align:center;">
        <img src="/static/{{dayType[1]}}.png" class="img-responsive img-thumbnail" alt="Responsive image" style="width: 100%; display: block;"/>
        <div class="name" style="display: inline;">Max :{{maxList[1]}}
            <br />Min :{{minList[1]}}</div>
    </div>
    <div class="member" style=" display: inline-block;width: 150px;height: 200px;vertical-align: top;text-align:center;">
        <img src="/static/{{dayType[2]}}.png" class="img-responsive img-thumbnail" alt="Responsive image" style="width: 100%; display: block;" />
        <div class="name" style="display: inline;">Max :{{maxList[2]}}
            <br />Min :{{minList[2]}}</div>
    </div>
</div>