<div class="modal-content col-md-12">
    <div class="modal-header">
        <h4 class="modal-title col-md-12">{{modalHeader}}</h4>
        <button class="close" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
        <form enctype="multipart/form-data" class="form-horizontal">
            <div class="form-group col-md-12">
                <label for="recipient-name">Type</label><br>
                <select class="col-md-12" (change)="onSelectChange($event.target.value)">
                        <option *ngFor="let r of resourceTypes">{{r}}</option>
                    </select>
            </div>
            <div class="form-group col-md-12">
                <label for="recipient-name">Name</label>
                <input class="col-md-12" type="text" name="text" [(ngModel)]="resName">
            </div>


            <div class="form-group col-md-12">
                <label for="recipient-name">Label</label><br>
                <div ng2-auto-complete [source]="labelName" (valueChanged)="labelChanged($event)">
                    <input class="col-md-12" type="text" name="labelName" [(ngModel)]="labelTxt">
                </div>
            </div>

<!--             <sebm-google-map 
                  [latitude]="lat"
                  [longitude]="lng"
                  [zoom]="zoom"
                  [disableDefaultUI]="false"
                  [zoomControl]="false"
                  (mapClick)="mapClicked($event)">
                
                  <sebm-google-map-marker 
                      *ngFor="let m of markers; let i = index"
                      (markerClick)="clickedMarker(m.label, i)"
                      [latitude]="m.lat"
                      [longitude]="m.lng"
                      [label]="m.label"
                      [markerDraggable]="m.draggable"
                      (dragEnd)="markerDragEnd(m, $event)">
                      
                    <sebm-google-map-info-window>
                      <strong>InfoWindow content</strong>
                    </sebm-google-map-info-window>
                    
                  </sebm-google-map-marker>
                  
                  <sebm-google-map-circle [latitude]="lat + 0.3" [longitude]="lng" 
                      [radius]="5000"
                      [fillColor]="'red'"
                      [circleDraggable]="true"
                      [editable]="true">
                  </sebm-google-map-circle>

                </sebm-google-map>
                <p>Current location: [{{longitude}},{{latitude}}] </p> -->
           

 
            <div class="form-group col-md-12 ">
                <label>Latitude:</label>
                <input id="latitude" class="col-md-12" type="number" value="{{locationLatitude}}" name="latitude" [(ngModel)]="locationLatitude">
                <div  *ngIf="isLatInvalid" class="col-xs-5 invalid-field">Enter correct Latitude value.</div>
                <label>Longitude:</label>
                <input id="longitude" class="col-md-12" type="number" value="{{locationLongitude}}" name="longitude" [(ngModel)]="locationLongitude">
                <div  *ngIf="isLongInvalid" class="col-xs-5 invalid-field">Enter correct Longitude value.</div>
            </div>

             <div class="form-group col-md-12">
                <agm-map [latitude]="locationLatitude" [longitude]="locationLongitude">
                  <agm-marker [latitude]="locationLatitude" [longitude]="locationLongitude"></agm-marker>
                </agm-map>
            </div>
            
            <div *ngIf="isLink" class="form-group col-md-12">
                <label class="form-control-label" for="recipient-name">URL</label><br>
                <input class="col-md-12" type="text" name="text" [(ngModel)]="url">
            </div>
            <br *ngIf="isLink">
            <div *ngIf="notLinkAndContentfeed">
                <label for="recipient-name" class="form-control-label col-md-12">Files</label>
                <input class="col-md-12" id="file-upload2" type="file" name="photo" (change)="onLabel($event)">
            </div>
            <div *ngIf="isContentFeed" class="form-group col-md-12">
                <label for="recipient-name">Adapter</label><br>
                <select class="col-md-12" (change)="onSelectContentFeedChange($event.target.value)">
                        <option *ngFor="let r of contentFeedTypes">{{r}}</option>
                    </select>
            </div>
            <div *ngIf="isContentFeed" class="form-group col-md-12">
                <label class="form-control-label" for="recipient-name"># Results</label><br>
                <input class="col-md-12" type="number" name="searchResult" value="3" min="1" max="10" [(ngModel)]="maxResults">
            </div>

        </form>
        <p class="col-md-12" *ngFor="let file of filesLst">
            {{file.name}}
            <br></p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger confirm-btn" (click)="setLabel()" [disabled]="disableButton()">Save changes</button>
    </div>
</div>