@import "../../../theme/sass/conf/conf";
.modal-buttons .btn {
    margin-right: 20px;
}

.modal-content {
    color: $dropdown-text;
}

agm-map {
  height: 200px;
}

.submitted .ng-invalid{
        border: 1px solid red;
    }
.sebm-google-map-container {
       height: 200px;
     }


.invalid-field{
	color: #a94442;
	margin-bottom: 5px;
    font-weight: 400;
    font-size: 13px;
}