@import "../../../theme/sass/conf/conf";
.modal-buttons .btn {
    margin-right: 20px;
}

.modal-content {
    color: $dropdown-text;
}

agm-map {
  height: 300px;
}

 .submitted .ng-invalid{
        border: 1px solid red;
    }
.sebm-google-map-container {
       height: 300px;
     }